.form {
    background-color: #cccccc48;
    width: 100%;
}

.form1 {
    background: rgba(145, 167, 219, 0.342);
    background: linear-gradient(145deg, rgba(189, 189, 189, 0.5) 0%, rgba(133, 133, 133, 0.507) 50%, rgba(80, 80, 80, 0.514) 100%);
    width: 100%;
}

.form {
    background: rgba(145, 167, 219, 0.425);
    background: linear-gradient(145deg, rgba(189, 189, 189, 0.5rgba(133, 133, 133, 0.562), 133) 50%, rgba(80, 80, 80, 0.521) 100%);
    margin-top: 0;
    width: 100%;
}

.label1 {
    color: #000;
}

.label2 {
    color: #000;
}

.label3 {
    color: #000;
}

.label4 {
    color: #000;
}

.label5 {
    color: #000
}

.label6 {
    color: #000;
}

.inputt {
    background-color: #fff;
    color: #000;
    font-size: 20px;
}

.form1 input {
    background-color: white;
}