.container {
    /* background-color: rgba(128, 128, 128, 0.548); */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    background-color: #cccccc9c;
}

.box_1 {
    width: 100px;
    height: 100px;
    color: black;
    text-align: center;
}

@media (max-width:768px) {
    .istoria {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        transform: translateX(0px);
    }
}