@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url(./images/Logo\ 2.png);
    background-repeat: no-repeat;
    background-size: contain;
    color: rgb(255, 255, 255);
    background-attachment: fixed;
    background-position: center;
    border-top: 100px;
}

input {
    border-radius: 5px;
}

.search:focus {
    outline: none;
}